// 公用变量
$webWidth: 1315px;
// $main-color: rgba(41, 153, 255, 1); // 主蓝色
// $main-orange: #f1853c; // 主橘色
// $main-yellow: #fff000; // 主橘色
$main-black: rgba(0, 0, 0, 1); // 主黑色
// $main-white: rgba(255, 255, 255, 1); // 主白色
// $main-white-two: rgba(255, 255, 255, 0.7); // 主白色0.7度
// $main-white-one: rgba(245, 245, 245, 1); // 第二级白色
// $box-shadow: rgba(238, 238, 238, 1); // 背景色
// $title-color: rgba(30, 32, 36, 1); // 标题颜色
// $content-color: rgba(30, 32, 36, 1); // 内容颜色
// $content-color-two: rgba(30, 32, 36, 0.7); // 二级内容颜色
// $pull-down-color: rgba(30, 32, 36, 0.3);
// $border-color: rgba(30, 32, 36, 0.08);
// $evidence-step-color: rgba(30, 32, 36, 0.6);
// $agreement-con-color: rgba(30, 32, 36, 0.6);
// $agreement-toTop-bg: #fff;
// $agreement-toTop-color: rgba(30, 32, 36, 1);
// $platform-gray: #7f7f7f;
// $android-color: #8ec119;

$color-link: #4d99f8;
// $input-border: rgba(211, 223, 239, 1);
// $input-color: rgba(62,74,89,1);
// $btn-border: rgba(151, 151, 151, 0.5);
// $input-top-tip: #a8abaf;
// $color-tip: rgba(62, 74, 89, 0.5);

$bg-black-zero: #202020;
$bg-black-one: #2d2d2d;
$bg-black-two: #383838;
$bg-black-three: #545454;
$bg-black-four: #515151;
$bg-black-five: rgba(56, 56, 56, 0.5);
$bg-black-six: #3F3F3F;

$main-white: rgba(255, 255, 255, 1); // 主白色
$main-white-two: rgba(255, 255, 255, 0.5); // 主白色0.5度
$main-white-three: rgba(255, 255, 255, 0.3); // 主白色0.3度

$login-input-border: #FEFEFE;
$login-input-color: rgba(255, 255, 255, 0.5);
$btn-bg-primary: rgba(198, 168, 104, 1);
$btn-bg-red: #E2494C;
$btn-bg-green: #01CC68;



$price-red: rgba(255, 96, 91, 1); // 红涨绿跌（特殊色不做它用）
$price-green: rgba(17, 201, 113, 1); // 红涨绿跌（特殊色不做它用）
