//== 定位
.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  margin: 0 auto;
}

.twLayout {
  width: 1334px;
}

.ctn {
  width: 1030px;
}

//== display
.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

//== text-align
.text-center {
  text-align: center;
}

.text-left {
  text-align: left !important;
}

.text-initial {
  text-align: initial;
}

.text-right {
  text-align: right;
}

//== font
.font-slim {
  font-weight: 200;
}

.font-normal {
  font-weight: 400;
}

.font-bold-light {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-26 {
  font-size: 26px !important;
}
//== margin
.mg-tp-0 {
  margin-top: 0px !important;
}
.mg-tp-5 {
  margin-top: 5px;
}
.mg-tp-10 {
  margin-top: 10px !important;
}

.mg-tp-15 {
  margin-top: 15px !important;
}

.mg-tp-20 {
  margin-top: 20px;
}

.mg-tp-25 {
  margin-top: 25px;
}

.mg-tp-30 {
  margin-top: 30px;
}

.mg-tp-40 {
  margin-top: 40px;
}

.mg-tp-48 {
  margin-top: 48px !important;
}

.mg-tp-50 {
  margin-top: 50px;
}

.mg-tp-60 {
  margin-top: 60px;
}
.mg-tp-70 {
  margin-top: 70px !important;
}
.mg-tp-84 {
  margin-top: 84px;
}
.mg-tp-90 {
  margin-top: 90px;
}
.mg-tp-100 {
  margin-top: 100px;
}

.mg-bt-0 {
  margin-bottom: 0px !important;
}
.mg-bt-5 {
  margin-bottom: 5px;
}
.mg-bt-10 {
  margin-bottom: 10px !important;
}

.mg-bt-15 {
  margin-bottom: 15px !important;
}

.mg-bt-20 {
  margin-bottom: 20px !important;
}

.mg-bt-30 {
  margin-bottom: 30px;
}

.mg-bt-40 {
  margin-bottom: 40px;
}

.mg-bt-50 {
  margin-bottom: 50px !important;
}

.mg-bt-80 {
  margin-bottom: 80px;
}

.mg-bt-100 {
  margin-bottom: 100px !important;
}
.mg-lf-0 {
  margin-left: 0 !important;
}
.mg-lf-2 {
  margin-left: 2px;
}
.mg-lf-10 {
  margin-left: 10px;
}
.mg-lf-15 {
  margin-left: 15px;
}

.mg-lf-20 {
  margin-left: 20px;
}

.mg-lf-25 {
  margin-left: 25px;
}
.mg-lf-30 {
  margin-left: 30px !important;
}
.mg-lf-40 {
  margin-left: 30px !important;
}
.mg-lf-50 {
  margin-left: 50px !important;
}

.mg-lf-100 {
  margin-left: 100px;
}
.mg-rg-10 {
  margin-right: 10px !important;
}
.mg-rg-15 {
  margin-right: 15px !important;
}

.mg-rg-20 {
  margin-right: 20px;
}

.mg-rg-25 {
  margin-right: 25px;
}

.mg-rg-29 {
  margin-right: 29px !important;
}
.mg-rg-30 {
  margin-right: 30px;
}

.mg-rg-100 {
  margin-right: 100px;
}

//== padding
.pd-tp-10 {
  padding-top: 10px;
}

.pd-tp-15 {
  padding-top: 15px;
}

.pd-tp-20 {
  padding-top: 20px;
}
.pd-tp-25 {
  padding-top: 25px;
}

.pd-tp-30 {
  padding-top: 30px;
}

.pd-tp-50 {
  padding-top: 50px;
}

.pd-bt-10 {
  padding-bottom: 10px;
}
.pd-bt-15 {
  padding-bottom: 15px;
}

.pd-bt-5 {
  padding-bottom: 5px;
}
.pd-bt-20 {
  padding-bottom: 20px;
}

.pd-bt-25 {
  padding-bottom: 25px;
}

.pd-bt-30 {
  padding-bottom: 30px;
}
.pd-bt-40 {
  padding-bottom: 40px;
}
.pd-bt-50 {
  padding-bottom: 50px;
}

.pd-bt-100 {
  padding-bottom: 100px;
}

.pd-lf-0 {
  padding-left: 0 !important;
}

.pd-lf-5 {
  padding-left: 5px !important;
}

.pd-lf-10 {
  padding-left: 10px;
}
.pd-lf-15 {
  padding-left: 15px;
}

.pd-lf-20 {
  padding-left: 20px !important;
}

.pd-lf-30 {
  padding-left: 30px !important;
}

.pd-lf-35 {
  padding-left: 35px;
}

.pd-lf-40 {
  padding-left: 40px !important;
}

.pd-lf-50 {
  padding-left: 50px !important;
}

.pd-rg-0 {
  padding-right: 0 !important;
}

.pd-rg-10 {
  padding-right: 10px;
}

.pd-rg-20 {
  padding-right: 20px;
}

.pd-rg-30 {
  padding-right: 30px;
}

.pd-rg-35 {
  padding-right: 35px;
}

.pd-rg-40 {
  padding-right: 40px !important;
}
.line-height-30 {
  line-height: 30px;
}
.width-auto {
  width: auto !important;
}
.cursor-pointer {
  cursor: pointer;
}
.clearfix {
  &:before,
  &:after {
    content: ""; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.text-inline {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.space-nowrap {
  white-space: nowrap;
}

// 初始化
.border-radius-0 {
  border-radius: 0 !important;
}

.border-radius-25 {
  border-radius: 25px;
}

.border-radius-10 {
  border-radius: 10px;
}

.border-radius-5 {
  border-radius: 5px;
}

// css3垂直居中
.item-center {
  display: flex;
  align-items: center;
}
// 水平两侧对齐
.space-between {
  display: flex;
  justify-content: space-between;
}
.space-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-evenly {
  display: flex;
  justify-content: space-between;
  &::before,
  &::after {
    content: "";
    display: block;
  }
}
.justify-flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex1 {
  flex: 1;
  overflow: hidden;
}
.flex0 {
  flex: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-dir-column {
  flex-direction: column;
}

// 图片太大时显示中间部分
.img-center {
  overflow: hidden;
  position: relative;
  text-align: center;
  > img {
    max-width: initial;
    // height: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
}

.hidden-scoll {
  overflow-y: scroll;
  margin-right: -25px;
  padding-right: 25px;
}
